@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'gipsierokracxed';
  src: url('fonts/gipsiero_kracxed-webfont.woff2') format('woff2'),
       url('fonts/gipsiero_kracxed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kionaitallic';
  src: url('fonts/kiona/kiona-itallic-webfont.woff2') format('woff2'),
       url('fonts/kiona/kiona-itallic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'kionaregular';
  src: url('fonts/kiona/kiona-regular-webfont.woff2') format('woff2'),
       url('fonts/kiona/kiona-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'kionaregular', Roboto, sans-serif;
  display: flex;
  flex-direction: column;

  background: url(assets/background-image.jpg);

}


/* .left-panel {
  flex-grow: 1;
  position: relative;

  width: 40vw;
  min-width: 420px;
  height: 100vh;


  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  } */

img {
  width: 600px;
}

.mainLogo {
  padding-left: 100px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

h1 {
  /* font-family: 'gipsierokracxed'; */
  color: black;
  font-size: 6rem;
  margin: 0px;
}

.subTitle {
  /* font-family: 'gipsierokracxed'; */
  color: black;
  font-weight: 900;
  font-size: 4.2rem;
}

.brandName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  background-color: rgba(0, 0, 0, 0.527);
}

.header,
.footer {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer { 
  background-color: rgba(0, 0, 0, 0.527);
  /* background-color: #eeeeee; */
  margin-top: auto;
}


/* unvisited link */
a {
  text-decoration: none;
  color: white;
}


ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}